USE [master]
GO
/****** Object:  Database [Rezepte]    Script Date: 02.05.2025 11:24:27 ******/
CREATE DATABASE [Rezepte]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeinDatenbankName', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DeinDatenbankName.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeinDatenbankName_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DeinDatenbankName_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rezepte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rezepte]
GO
/****** Object:  Table [dbo].[Gerichte]    Script Date: 02.05.2025 11:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gerichte](
	[Gerichte_ID] [int] IDENTITY(1,1) NOT NULL,
	[Gerichte_Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gerichte_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Optionen]    Script Date: 02.05.2025 11:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Optionen](
	[Optionen_ID] [int] IDENTITY(1,1) NOT NULL,
	[Optionen] [varchar](50) NOT NULL,
	[Hauptzutat] [varchar](50) NOT NULL,
	[Kulinarische_Richtung] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Optionen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbindung]    Script Date: 02.05.2025 11:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbindung](
	[Gerichte_ID] [int] NOT NULL,
	[Optionen_ID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Verbindung]  WITH CHECK ADD  CONSTRAINT [FK_Gerichte_ID] FOREIGN KEY([Gerichte_ID])
REFERENCES [dbo].[Gerichte] ([Gerichte_ID])
GO
ALTER TABLE [dbo].[Verbindung] CHECK CONSTRAINT [FK_Gerichte_ID]
GO
ALTER TABLE [dbo].[Verbindung]  WITH CHECK ADD  CONSTRAINT [FK_Optionen_ID] FOREIGN KEY([Optionen_ID])
REFERENCES [dbo].[Optionen] ([Optionen_ID])
GO
ALTER TABLE [dbo].[Verbindung] CHECK CONSTRAINT [FK_Optionen_ID]
GO
USE [master]
GO
